* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
}

header {
    padding-left: 15px;
    font-family: "Raleway";
    width: 100%;
    height: 15vh;
}

h2 {
    font-size: 2vh;
    margin-top: 5px;
    margin-left: 70%;
}

h1 {
    font-size: 5vh;
    line-height: 33px;
    padding-bottom: 2vh;
}

p {
    font-weight: 500;
    font-size: 2vh;
    letter-spacing: 0.07em;
    color: #B4B4B4;
}

.fila3 {
    background: #ECECEC;
    display: inline-block;
    overflow-x: auto;
    overflow-y: none;
    white-space: nowrap;
    scrollbar-width: none;
    width: 100%;
    height: 20vh;
    padding-left: 1rem;
}

.fila3::-webkit-scrollbar {
    display: none;
}

.contenedor {
    display: flex;
}

.menu-card {
    display: inline-flex;
    flex-direction: column;
    background: #ffff;
    width: 13vh;
    height: 16vh;
    margin: 1.0rem 0.8rem;
    border-radius: 20px;
}

.menu-card img {
    margin: auto;
    max-width: 8vh;
    padding-bottom: 1.5vh;
}

.menu-card p {
    display: flex;
    justify-content: center;
    margin-bottom: 2vh;
}

.fila4 {
    background: #FAFAFA;
    width: 100%;
    height: 50vh;
    overflow-x: auto;
}

.texto {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.elemento {
    width: 100%;
    display: flex;
    background: #FFFFFF;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 1rem;
}

.elemento img {
    width: 137px;
    height: 150px;
    object-fit: cover;
    border-radius: 31px;
}

.principal {
    padding: 1rem;
}

.contador {
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
}

.contador button {
    width: 40px;
    height: 30px;
}

.suma {
    border-radius: 10px 10px 0px 0px;
    border: none;
    background: #ededef;
}

.resta {
    border-radius: 0px 0px 10px 10px;
    border: none;
    background: #ededef;
}

.contador input {
    width: 40px;
    height: 30px;
    text-align: center;
    font-size: 1px;
    font-size: 22px;
    border: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.texto p {
    font-family: "Raleway";
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 20px;
    color: gold;
}

.texto h5 {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 36px;
    color: #000000;
}

.texto h6 {
    font-family: "Raleway";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    color: rgba(0, 0, 0, 0.43);
}

.fila5 {
    background: rgb(12, 1, 1);
    width: 100%;
    height: 10vh;
}

.fila6 {
    background: rgb(250, 18, 18);
    width: 100%;
    height: 5vh;
}

.navbar {
    padding: 0rem 0rem;
}

.navbar-brand {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: -0.02em;
    color: #161616;
    text-decoration: none;
}

footer {
    height: 15vh;
    width: 100%;
    background: #FAFAFA;
    position: sticky;
    bottom: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    filter: drop-shadow(0px -5px 10px #B4B4B4);
}

.boton {
    background: #FF6900;
    width: 8vh;
    height: 8vh;
    border-radius: 50px;
    top: -2vh;
    position: absolute;
    display: flex;
    justify-content: space-around;
    filter: drop-shadow(0px 1px 3px hsl(0, 0%, 35%));
    border-width: 0px;
    border-style: outset;
    border-image: initial;
}

.imgboton {
    width: 1vh;
    top: 5vh;
    position: absolute;
    display: flex;
}

.iconos {
    border-width: 0px;
    border-style: outset;
    border-image: initial;
    background-color: white;
    cursor: alias;
}

.iconotamaño {
    height: 5vh;
    width: 4.5vh;
    position: relative;
}

.iconocentro {
    position: relative;
    width: 5vh;
    height: 4vh;
    right: 2vh;
    bottom: 3.5vh;
    mix-blend-mode: screen;
}