* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    overflow: hidden;
}

.fila1 {
    background: rgb(163, 53, 53);
    width: 100%;
    height: 10vh;
}
.fila2 {
    background: rgb(151, 105, 105);
    width: 100%;
    height: 10vh;
}

.encabezado {
    padding-left: 15px;
}
.row.fila3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 1.5rem;
    background: rgb(58, 49, 49);
    width: 100%;
    height: 20vh;
}

.menu-card {
    width: 100%;
    height: auto;
    background: #FFFEFF;
    border-radius: 11px;
    padding: 2rem;
    margin: 1rem;
}

.card-image img {
    width:100%;
    height: 100%;
    overflow: hidden;
    object-fit: contain;
}

.card-image {
    width:100%;
    height: 100%;
    position: relative;
}

.row.fila4 {
    background: rgb(58, 11, 11);
    width: 100%;
    height: 45vh;
}
.row.fila5 {
    background: rgb(12, 1, 1);
    width: 100%;
    height: 10vh;
}
.row.fila6 {
    background: rgb(250, 18, 18);
    width: 100%;
    height: 5vh;
}
.navbar {
    padding: 0rem 1rem !important;
}

h1 {
    font-family: "Raleway";
    font-style: normal !important;
    font-weight: bold !important;
    font-size: 38px !important;
    line-height: 33px !important;
    letter-spacing: -0.02em;
    color: #303030;
    
}

p {

font-family: "Raleway";
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 15px;
display: flex;
align-items: center;
letter-spacing: 0.07em;
color: #B4B4B4;

}

.navbar-brand {

font-family: "Raleway";
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 16px;
letter-spacing: -0.02em;

color: #161616;
}

